body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.right-links {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.hero {
    background-color: #1F2937;  
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.container h3 {
    font-size: 48px;
    margin: 0;
    color: #F9FAF8;
}
.container p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}
.container {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.container button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px 30px;
}

button {
    background-color: #3882f6;
    color: white;
}

.images h4 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.images img {
    border-radius: 8px;
    border-style: solid;
    border-color: #3882f6;
    border-width: 2px;
}
.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
}
.box {
    display: flex;
    gap: 52px;
}
.content {
    max-width: 150px;
    gap: 52px;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 50px 350px;
}

.quote p {
    font-size: 36px;
    font-style: light italic;
    text-align: left;
}

.quote h4 {
    text-align: right;
}